/*
**/__pycache__/
!.gitignore
!README.md
!LICENSE
!/assets/
!Dockerfile
!Makefile
!requirements.txt

# airflow
!docker-compose.yaml

# specific project
!/dags/
/dags/*
!/dags/spotify/
!/dags/research/
# tests
!/tests/
!/tests/**
!pytest.ini
!/.github/
!/.github/workflows/
!/.github/workflows/**
